.image{
    background-image: url("https://media.istockphoto.com/id/1498116261/photo/technology-and-science-background-connect-dots-and-line.webp?b=1&s=170667a&w=0&k=20&c=3GIK_POYO1GFaLV6mqv366uqzIcPzt2qeFRbEZJKOfg=");
    background-repeat: no-repeat;
    background-size:cover;
    height: fit-content;
}